[Unit]
Description=Sincronizar CLOCK_REALTIME -> PHCs
After=ptp4l.service
Requires=ptp4l.service

[Service]
Type=simple
# -s es la FUENTE (PC), -c son los DESTINOS (Tarjetas)
# Eliminamos -Q para que los logs lleguen al journal
ExecStart=/bin/sh -c "/usr/sbin/phc2sys -s CLOCK_REALTIME -c enp1s0 -m -O 0 & /usr/sbin/phc2sys -s CLOCK_REALTIME -c enp2s0 -m -O 0"
Restart=on-failure

[Install]
WantedBy=multi-user.target

