[Unit]
Description=PTP4L Master Mode enp1s0 y enp2s0
After=network.target

[Service]
Type=simple
# Ejecuta ptp4l con tu archivo de configuración
ExecStart=/usr/sbin/ptp4l -f /etc/linuxptp/ptp4l.conf -m
Restart=on-failure

[Install]
WantedBy=multi-user.target


