[Unit]
Description="bringup ros drivers for basic Husky sensors"
After=roscore.service husky_base.service
Requires=roscore.service husky_base.service

[Service]
Type=simple
#ExecStartPre=/bin/bash -c "until rosnode list &>/dev/null; do sleep 2; done" # Wait until roscore is ready
ExecStart=/bin/bash -c "echo '[sensors.service] Setup environtment for systemctl run'; source /home/administrator/husky_setup.sh; _husky_check_setup; echo '[sensors.service] Run Husky ROS LIDAR/GPS/IMU sensors'; /opt/ros/noetic/bin/roslaunch --wait husky_manager sensors_manager.launch"

[Install]
WantedBy=multi-user.target